name: Build Deploy Container

on: 
    workflow_dispatch:

env:
    REGION: af-south-1

jobs:
    build:
        name: Build and Push Docker Image
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: checkout/checkout@v4

            - name: Login to ECR
              uses: docker/login-action@v3
              with:
                registry: ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ vars.REGION }}.amazonaws.com
                username: ${{ secrets.AWS_ACCESS_KEY_ID }}
                password: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

            - name: Set short SHA
              run: |
                echo "SHORT_SHA=$(git rev-parse --short $GITHUB_SHA)" >> $GITHUB_ENV
                
            - name: Build and Push Docker Image
              run: |
                  REPO_OWNER_LOWER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')

                  IMAGE_TAG_DOTNET=ghcr.io/$REPO_OWNER_LOWER/${{ env.IMAGE_NAME }}:${{ env.DOTNET_VERSION }}
                  IMAGE_TAG_SHA=ghcr.io/$REPO_OWNER_LOWER/${{ env.IMAGE_NAME }}:${{ env.SHORT_SHA }}

                  echo "Building image with tags:"
                  echo "  $IMAGE_TAG_DOTNET"
                  echo "  $IMAGE_TAG_SHA"

                  docker build \
                    -t $IMAGE_TAG_DOTNET \
                    -t $IMAGE_TAG_SHA \
                    .

                  docker push $IMAGE_TAG_SHA
                  docker push $IMAGE_TAG_DOTNET
                   