name: Build Deploy Container

on: 
    workflow_dispatch:

env:
    REGION: af-south-1
    ECR_REGISTRY: ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.af-south-1.amazonaws.com/market-financials

jobs:
    build:
        name: Build and Push Docker Image
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Login to ECR
              uses: docker/login-action@v3
              with:
                registry: ${{ env.ECR_REGISTRY }}
                username: ${{ secrets.AWS_ACCESS_KEY_ID }}
                password: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

            - name: Set short SHA
              run: |
                echo "SHORT_SHA=$(git rev-parse --short $GITHUB_SHA)" >> $GITHUB_ENV
                
            - name: Build and Push Docker Image
              run: |
                  IMAGE_TAG_LATEST=${{ env.ECR_REGISTRY }}:latest
                  IMAGE_TAG_SHA=${{ vars.ECR_REGISTRY }}:${{ env.SHORT_SHA }}

                  echo "Building image with tags:"
                  echo "  $IMAGE_TAG_LATEST"
                  echo "  $IMAGE_TAG_SHA"

                  docker build \
                    -t $IMAGE_TAG_LATEST \
                    -t $IMAGE_TAG_SHA \
                    .

                  docker push $IMAGE_TAG_SHA
                  docker push $IMAGE_TAG_LATEST
                   