name: Build Deploy Container

on: 
    workflow_dispatch:

env:
    REGION: af-south-1
    ECR_REGISTRY: ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.af-south-1.amazonaws.com/market-financials
    LAMBDA_FUNCTION_NAME: market_financials_function

jobs:
    build:
        name: Build and Push Docker Image
        runs-on: ubuntu-latest
        if: github.ref_name == 'develop'
        outputs:
          short_sha: ${{ steps.short-sha.outputs.sha }}

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Login to ECR
              uses: docker/login-action@v3
              with:
                registry: ${{ env.ECR_REGISTRY }}
                username: ${{ secrets.AWS_ACCESS_KEY_ID }}
                password: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

            - uses: benjlevesque/short-sha@v3.0
              id: short-sha
              with:
                length: 7
                
            - name: Build and Push Docker Image
              run: |
                  IMAGE_TAG_LATEST=${{ env.ECR_REGISTRY }}:latest
                  IMAGE_TAG_SHA=${{ env.ECR_REGISTRY }}:${{ steps.short-sha.outputs.sha }}

                  echo "Building image with tags:"
                  echo "  $IMAGE_TAG_LATEST"
                  echo "  $IMAGE_TAG_SHA"

                  docker build -t $IMAGE_TAG_LATEST -t $IMAGE_TAG_SHA .

                  docker push $IMAGE_TAG_SHA
                  docker push $IMAGE_TAG_LATEST
    deploy:
      name: Update Lambda Image
      runs-on: ubuntu-latest
      needs: build
      environment: production

      steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: Configure AWS Credentials
          uses: aws-actions/configure-aws-credentials@v4
          with:
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
            aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            aws-region: ${{ env.REGION }}
        - name: Update Lambda Container Image
          run: |
            aws lambda update-function-code \
            --function-name ${{ env.LAMBDA_FUNCTION_NAME }} \
            --image-uri ${{ env.ECR_REGISTRY }}:${{ needs.build.outputs.short_sha }}
                   